body {
font-family: Arial, Helvetica, sans-serif;
background-color: #F8D7D9;
}

.navbar {
overflow: hidden;
background-color: #C72552;
}

.navbar a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.dropdown {
float: left;
overflow: hidden;
}

.dropdown .dropbtn {
font-size: 16px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: #C72552;
font-family: inherit;
margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
background-color: #FF85A1;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #C72552;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #FFB3C4;
}

.dropdown:hover .dropdown-content {
display: block;
}                 